<ion-header>
  <ion-toolbar>
    <!-- <ion-back-button defaultHref="/home"></ion-back-button> -->
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">User Id</ion-label>
    <ion-input type="Email" [(ngModel)]="userId"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="Password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button (click)="login()">Login</ion-button>
  <ion-button (click)="dismiss()">Cancel</ion-button>

  <ion-textarea [value]="test"></ion-textarea>
</ion-content>
