<ion-header>
  <ion-toolbar>
    <ion-title>
      IoT Weather Station 
      <ion-icon name="thermometer"></ion-icon>
      <ion-icon name="umbrella"></ion-icon>
      <ion-icon name="sunny"></ion-icon>
      <ion-icon name="snow"></ion-icon>
      <ion-icon name="thunderstorm"></ion-icon>
      <ion-icon name="speedometer"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  </div>
      <ion-button href="/sensors">To sensors</ion-button>
      <ion-button (click)="logOut()">Sign out</ion-button>
</ion-content>

